@font-face {
    font-family: 'Roadgeek 2000';
    src: url('/Tp_integrador_codo_a_codo_Ariel_Pastor/fonts/roadgeek-2000-series-d.ttf') format('truetype');
}

/* Variables */
:root {
    --font-family: "Roadgeek 2000";
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #eeeeee;
    --primary-color: #317f43;
    --color-cartel:#317f43;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

/* Variables fin */

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

section {
    /* max-width: 1100px;
    margin: auto; */
}

/* CSS Resets FIN */

/* Barra de Navegación */

.flex-conteiner-nav .logo,
.flex-conteiner-nav .logo img {
    display: flex;
    align-items: center;
    margin-left: -15px;
    transition: transform 2s ease-in-out;
}

.flex-conteiner-nav img {
    margin-left: 0px;
    width: 100%;
    /* Ajusta el tamaño de la imagen para que ocupe el 100% del contenedor */
    max-width: 300px;
    /* Ajusta el tamaño máximo del logo según la necesidad*/
}

.flex-conteiner-nav img:hover {
    transform: rotateX(360deg);
}

.flex-conteiner-nav h1 {
    color: #fff;
    font-family: 'Roadgeek 2000';
    font-size: 12px;
    /* Ajusta el tamaño del texto según sea necesario */
    margin: 0;
    /* Elimina el margen predeterminado del h1 */
    margin-left: 2px;
}


nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    /* Ajustado el espaciado entre el borde blanco y el externo */
    background-color: #317f43;
    /* Fondo verde */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* Borde redondeado */
    max-height: 100px;
}

nav h1 {
    color: #fff;
    /* Texto blanco */
    font-family: 'Roadgeek 2000';
    /* Utiliza la fuente Roadgeek 2000 o similar */
    font-size: 24px;
    /* Ajusta el tamaño del texto según sea necesario */
}

nav a {
    color: #fff;
    /* Texto blanco */
    transition: var(--transition);
}

nav a:not(.logo):hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
    font-size: 20px;
}

.menu-hamburguesa {
    color: #fff;
    /* Texto blanco */
    font-size: 2rem;
    border: 0;
    background-color: #317f43;
    cursor: pointer;
    display: none;
}

nav::after {
    content: '';
    /* Pseudo-elemento para el borde blanco interior */
    position: absolute;
    top: 4px;
    /* Ajustado el espaciado entre el borde blanco y el externo */
    left: 4px;
    /* Ajustado el espaciado entre el borde blanco y el externo */
    right: 4px;
    /* Ajustado el espaciado entre el borde blanco y el externo */
    bottom: 4px;
    /* Ajustado el espaciado entre el borde blanco y el externo */
    border: 2px solid #fff;
    /* Borde blanco interior */
    border-radius: 5px;
    /* Borde redondeado igual al del nav */
    z-index: -1;
    /* Coloca el pseudo-elemento detrás del contenido del nav */
}

/* FIN Barra de Navegación */

/* Sección NOSOTROS */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 68.75rem;
    margin: 1rem auto;
    /* Aumentado el margen superior */
}

.hero video {
    height: 30rem;
    width: 45rem;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h2 {
    text-align: center;
    background-color: var(--color-cartel);
    color: #fff;
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
    text-align: center;
}

/* FIN Sección NOSOTROS */


/* MAS SOBRE NOSOTROS */

.mas-sobre {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}

.mas-sobre h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.mas-sobre p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

/* FIN MAS SOBRE NOSOTROS */

/* Sección DESTINOS */

.habilidades {
    max-width: auto;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.encabezado-habilidad {
    margin-bottom: 1rem;
}

.contenedor-habilidad img {
    padding: 1.25rem;
}

.icono {
    width: 20rem;
    height: 13rem;
}

.icono:hover {
    transform: scale(1.2);
}


.tarjeta-icono {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

/* FIN Sección DESTINOS */


/* Sección EXCURSIONES */

.proyectos {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}

.foto-de-proyecto {
    width: auto;
    height: 17rem;
}

.contenedor-de-proyectos {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
}

.contenedor-de-proyecto:hover {
    transform: scale(1.1);
}

.titulo-de-proyectos {
    text-align: center;
    margin-bottom: 1rem;
}

.contenedor-de-proyecto {
    text-align: center;
    width: 18rem;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contenedor-de-proyecto p {
    padding: 0.4rem;
    flex-grow: 1;
}

.titulo-de-proyecto {
    margin-bottom: var(--bottom-margin);
    margin-top: 1rem;
}

.detalle-de-proyecto {
    margin-bottom: var(--bottom-margin);
}

.tarjeta-de-proyecto {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

/* FIN Sección EXCURSIONES */

/* Sección CONTACTO */

.contacto {
    margin-top: 2rem;
}

.contacto h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contenedor-formulario-contacto {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contenedor-formulario-contacto label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contenedor-formulario-contacto textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contenedor-formulario-contacto .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

/* FIN Sección CONTACTO */

/* Sección de redes sociales */

.sociales {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 40%;
}

.socicon {
    width: 2rem;
    height: 2rem;
}

/* FIN Sección de redes sociales */

/* Sección Footer */

footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 68.75rem;
    margin: auto;
}

.footer-nav img {
    width: 100%;
    max-width: 400px;
    margin-left: -5rem;
}

.footer-nav ul {
    display: flex;
    gap: 1.9rem;
}

.footer-nav a {
    color: #fff;
    /* Texto blanco */
    transition: var(--transition);
}

.footer-nav a:not(.logo):hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.footer-info {
    margin-left: 2.5rem;
    margin-top: 0;
    color: #fff;
}

/* FIN Sección Footer */

/* BOTON Vuelve al comienzo */

.desplazarse-hacia-arriba {
    position: fixed;
    right: 1.5%;
    bottom: 5%;
    cursor: pointer;
}

.flecha-arriba {
    width: 3rem;
    height: 3rem;
}

/* FIN BOTON Vuelve al comienzo */

/* Media Queries */

@media screen and (max-width: 720px) {
    /* los cambios se reflejan en una pantalla con un ancho de 720px ye inferior */

    nav {
        padding: 1.5rem 1rem;
    }

    /* menu hamburguesa */

    nav ul {
        position: fixed;
        background-color: #317f43;
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .menu-hamburguesa {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    /* FIN menu hamburguesa */

    /* Seccion hero */

    .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
    }

    .hero img {
        height: 20rem;
        width: 35rem;
    }

    .bio {
        margin-top: -7rem;
        width: 20.5rem;
    }

    /* FIN Seccion hero */

    /* Sobre Mí */

    .mas-sobre {
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }

    .mas-sobre h2 {
        text-align: center;
    }

    .mas-sobre p {
        text-align: justify;
    }

    /* FIN Sobre Mí */

    /* Sección Habilidades */

    .icono {
        width: 15rem;
        height: 8rem;
    }

    /* FIN Sección Habilidades */

    /* Sección Proyectos */

    .contenedor-proyectos {
        flex-direction: column;
    }

    .contenedor-proyecto {
        width: 20.875rem;
    }

    /* FIN Sección Proyectos */

    /* Sección Contacto */

    .contenedor-formulario-contacto {
        max-width: 23.75rem;
    }

    /* FIN Sección Contacto */
}

@media screen and (max-width: 420px) {

    .hero img {
        height: 20rem;
        width: 35rem;
    }

    .bio {
        width: 18.3rem;
    }

    .contenedor-de-proyecto {
        width: 17.875rem;
    }

    .contenedor-formulario-contacto {
        max-width: 17.75rem;
    }
}